@keyframes circle-draw {
    from {
      stroke-dasharray: 140;
      stroke-dashoffset: 140;
    }
    to {
      stroke-dasharray: 140;
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes checkmark-draw {
    from {
      stroke-dashoffset: 50;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes fade-slide-up {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }